.journal__main-content {
  display: flex;
}

.journal__sidebar {
  background: $darknes-blue;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0 10px;
  width: 350px;
}

.journal__sidebar-navbar {
  display: flex;
  justify-content: space-between;
}

.logout{
  background: transparent;
  border: none;
  color: #fff;
  font-size:15px;

  &:hover{
    color: lighten($color: $darknes-blue, $amount: 60);
    transition: color 0.3s ease;
  }
}

.journal__sidebar-navbar h3 {
  font-weight: lighter;
}

.journal__new-entry {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 30px;
  width: 100%;

  transition: color 0.3s ease;

  &:hover {
    color: lighten($color: $darknes-blue, $amount: 60);
  }
}

.journal__entries {
  margin-top: 30px;
  flex: 1 1 auto;
  overflow-y: auto;
}

.journal__entry {
  background-color: #fff;
  border-radius: 4px;
  color: $dark-blue;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  overflow: hidden;
  margin-right: 4px;
}

.journal__entry-picture {
  height: 75px;
  width: 75px;
}

.journal__entry-body {
  padding: 10px;
}
.journal__entry-title {
  font-size: 14px;
  font-weight: bold;
}
.journal__entry-content {
  font-size: 10px;
}

.journal__entry-date-box{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.journal__entry-date-box span{
    font-size: 12px;
}


/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }