//Colors
$primary: #bb8900;
$bg: linear-gradient(to right top, #eeae00, #f49c00, #fa8801, #fd7313, #ff5c22);
$dark-grey: #363636;
$light-grey: #D8D8D8;
$light-blue: #42485a;
$dark-blue: #263669;
$darknes-blue: #292e3f;

//GoogleButton
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;